In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("dataset/fridges_info.csv",index_col=["ID"])

In [10]:
df.head(5)

,Model,Brand,Capacity,Condition,Location,Price,Delivery Time,URL
ID,,,,,,,,
282461741459,None,Vitrifrigo,None,Brand New,Carlino (UD)^ Italy,1109.71,Thu. 23 May. and Mon. 3 Jun.,https://www.ebay.com.au/itm/Vitrifrigo-C47-Ref...
252091057173,WSE6100SA*1,Westinghouse,None,Brand New,Bibra Lake^Wa^ Australia,U $110.00,Tue. 7 May. and Mon. 20 May.,https://www.ebay.com.au/itm/Westinghouse-WSE61...
262858429519,None,None,None,Brand New,Bankstown^ NSW ^ Australia,220.0,Wed. 1 May. and Wed. 8 May.,https://www.ebay.com.au/itm/VACCUM-PUMP-VALUE-...
253514337712,None,Fisher & Paykel,None,Brand New,Bibra Lake^ WA^ Australia,U $59.00,Tue. 7 May. and Mon. 20 May.,https://www.ebay.com.au/itm/Fisher-Paykel-E450...
254148401186,TME1000H,Skope,None,Brand New,Bibra Lake^Wa^ Australia,U $59.00,Tue. 7 May. and Mon. 20 May.,https://www.ebay.com.au/itm/Skope-TME1000H-Fri...

In [7]:
df.columns

Index(['ID', 'Model', 'Brand', 'Capacity', 'Condition', 'Location', 'Price',
       'Delivery Time', 'URL'],
      dtype='object')

In [15]:
df['Brand'].value_counts()[:6]

Westinghouse       1354
Kelvinator          988
Electrolux          285
Fisher & Paykel     246
Phillips            184
Vitrifrigo          163
Name: Brand, dtype: int64

In [17]:
df['Capacity'].value_counts()

None                                                  4271
425 L                                                    7
15G                                                      5
40 L                                                     4
504 L                                                    2
1137                                                     2
4 L                                                      2
520 L                                                    2
4.92 * 3.26 * 9.76inch                                   2
7G                                                       2
20G                                                      2
8 L                                                      2
380 L                                                    2
231 L                                                    2
28L                                                      2
470 L                                                    2
70 L                                                     2
9L                                                       2
4L                                                       2
422 L                                                    2
400 L                                                    2
140 L                                                    1
407L Fridge^ 145L Freezer^ 145L Cool Select Zone^        1
358L Fridge^ 88L Freezer                                 1
15L                                                      1
2500                                                     1
422L Fridge^ 265L Freezer                                1
392L Fridge^ 303L Freezer                                1
48 L                                                     1
75ML                                                     1
89 Litre                                                 1
342 L                                                    1
510 L                                                    1
10 L                                                     1
580 L                                                    1
423 L                                                    1
35L                                                      1
519 L                                                    1
7g^ 10g^ 15g^ 20g^ 25g                                   1
407L Fridge^ 145L Freezer^ 145L CoolSelect Zone Do       1
765 L                                                    1
1HP                                                      1
708 L                                                    1
458 Litre                                                1
100KG                                                    1
Name: Capacity, dtype: int64

In [26]:
# Get rid of L in Capacity
def remove_Litr(capacity_str):
    if "L" in str(capacity_str):
        return str(capacity_str)[:capacity_str.find("L")].strip()
    else:
        return capacity_str

df['CapacityNew']=df['Capacity'].apply(remove_Litr)

In [23]:
df['Capacity'].dtype

dtype('O')

In [27]:
df['CapacityNew'].value_counts()

None                      4271
425                          7
15G                          5
4                            4
40                           4
422                          3
70                           2
4.92 * 3.26 * 9.76inch       2
380                          2
407                          2
520                          2
8                            2
7G                           2
470                          2
231                          2
504                          2
20G                          2
1137                         2
9                            2
28                           2
400                          2
510                          1
708                          1
35                           1
392                          1
580                          1
75M                          1
140                          1
2500                         1
15                           1
358                          1
7g^ 10g^ 15g^ 20g^ 25g       1
342                          1
1HP                          1
10                           1
765                          1
89                           1
423                          1
458                          1
48                           1
519                          1
100KG                        1
Name: CapacityNew, dtype: int64